.staggered-image {
    opacity: 0;
    transform: translateY(50px);
    animation: fadeInUp 1s forwards;
  }
  
  /* Delay til hvert billede baseret på deres rækkefølge */
  .staggered-image:nth-child(1) {
    animation-delay: 0s;
  }
  .staggered-image:nth-child(2) {
    animation-delay: 0.2s;
  }
  .staggered-image:nth-child(3) {
    animation-delay: 0.4s;
  }
  .staggered-image:nth-child(4) {
    animation-delay: 0.6s;
  }
  .staggered-image:nth-child(5) {
    animation-delay: 0.8s;
  }
  .staggered-image:nth-child(6) {
    animation-delay: 1s;
  }
  .staggered-image:nth-child(7) {
    animation-delay: 1.2s;
  }
  .staggered-image:nth-child(8) {
    animation-delay: 1.4s;
  }
  
  @keyframes fadeInUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
/* Regular (normal) vægt */
@font-face {
    font-family: 'Playfair Display';
    src: url('/src/assets/fonts/PlayfairDisplay-Regular.woff2') format('woff2'),
         url('/src/assets/fonts/PlayfairDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  /* Bold vægt */
  @font-face {
    font-family: 'Playfair Display';
    src: url('/src/assets/fonts/PlayfairDisplay-Bold.woff2') format('woff2'),
         url('/src/assets/fonts/PlayfairDisplay-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
  }
  
  /* Italic vægt */
  @font-face {
    font-family: 'Playfair Display';
    src: url('/src/assets/fonts/PlayfairDisplay-Italic.woff2') format('woff2'),
         url('/src/assets/fonts/PlayfairDisplay-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
  }
  
  /* Bold Italic vægt */
  @font-face {
    font-family: 'Playfair Display';
    src: url('/src/assets/fonts/PlayfairDisplay-BoldItalic.woff2') format('woff2'),
         url('/src/assets/fonts/PlayfairDisplay-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
  }
  
  /* Light vægt */
  @font-face {
    font-family: 'Playfair Display';
    src: url('/src/assets/fonts/PlayfairDisplay-Light.woff2') format('woff2'),
         url('/src/assets/fonts/PlayfairDisplay-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
  }
  
  /* Light Italic vægt */
  @font-face {
    font-family: 'Playfair Display';
    src: url('/src/assets/fonts/PlayfairDisplay-LightItalic.woff2') format('woff2'),
         url('/src/assets/fonts/PlayfairDisplay-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
  }
  
  /* Medium vægt */
  @font-face {
    font-family: 'Playfair Display';
    src: url('/src/assets/fonts/PlayfairDisplay-Medium.woff2') format('woff2'),
         url('/src/assets/fonts/PlayfairDisplay-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
  }
  
  /* Medium Italic vægt */
  @font-face {
    font-family: 'Playfair Display';
    src: url('/src/assets/fonts/PlayfairDisplay-MediumItalic.woff2') format('woff2'),
         url('/src/assets/fonts/PlayfairDisplay-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
  }
  
  /* Semi-Bold vægt */
  @font-face {
    font-family: 'Playfair Display';
    src: url('/src/assets/fonts/PlayfairDisplay-SemiBold.woff2') format('woff2'),
         url('/src/assets/fonts/PlayfairDisplay-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
  }
  
  /* Semi-Bold Italic vægt */
  @font-face {
    font-family: 'Playfair Display';
    src: url('/src/assets/fonts/PlayfairDisplay-SemiBoldItalic.woff2') format('woff2'),
         url('/src/assets/fonts/PlayfairDisplay-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
  }
  
  /* Extra-Bold vægt */
  @font-face {
    font-family: 'Playfair Display';
    src: url('/src/assets/fonts/PlayfairDisplay-ExtraBold.woff2') format('woff2'),
         url('/src/assets/fonts/PlayfairDisplay-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
  }
  
  /* Extra-Bold Italic vægt */
  @font-face {
    font-family: 'Playfair Display';
    src: url('/src/assets/fonts/PlayfairDisplay-ExtraBoldItalic.woff2') format('woff2'),
         url('/src/assets/fonts/PlayfairDisplay-ExtraBoldItalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
  }
  