---
import Link from "./Link.astro"
import logo from "../assets/images/logo.png"
import Image from "astro/components/Image.astro"
import harlekin from "../assets/images/harlekin.jpg"
---
<!-- <footer class="bg-gray-800 text-white py-4">
	<div class="max-w-6xl mx-auto px-4 text-center">
		<p>© 2024 Forældrestatistik. Alle rettigheder forbeholdes.</p>
		<p><Link href="/privatlivspolitik" class="hover:underline">Privatlivspolitik</Link> | <Link href="/brugsbetingelser" class="hover:underline">Brugsbetingelser</Link></p>
	</div>


	
</footer> -->

<footer class="py-4 mx-auto px-4 flex justify-center items-center ">
	<Image 
	src={harlekin} 
	class="col-start-1 col-span-5 row-start-1 row-span-5 z-0 w-[100%] h-full object-cover opacity-5 absolute top-0 left-0" 
	alt="harlekin baggrund" 
  />

	<Image 
		src={logo} 
		alt="logo"  
		class="w-32 h-32 animate-fade-zoom" />
</footer>