---
import Link from "./Link.astro";
import clown from "../assets/images/clown.png";
import Image from "astro/components/Image.astro";
import harlekin from "../assets/images/harlekin.jpg";
import Button from "./Button.astro";
---
<footer class="py-4 mx-auto px-4 flex flex-col justify-center items-center relative">
	<!-- H1 overskrift, lagt øverst med z-index -->
	<h1 class="font-playfair font-bold text-brown italic text-4xl my-32 z-20 text-center">
	  Giv dit design en stemme med <span class="font-bold text-turkish">SOPHIE</span>
	  <br>– en skrifttype, der taler for sig selv.
	</h1>
  
	<!-- Button placeret øverst med z-index -->
	<div class="z-30 mb-32">
	  <Button></Button>
	</div>
  
	<!-- Harlekin baggrund -->
	<Image 
	  src={harlekin} 
	  class="w-[100%] h-full object-cover opacity-15 absolute top-0 left-0 z-0" 
	  alt="harlekin baggrund" 
	/>
	
	<Image 
	src={clown} 
	alt="logo"  
	class="w-40 h-40 z-10 filter grayscale mb-32 animate-pulse"
  />  
  </footer>
  
  
  