---
import Link from "./Link.astro"
---
<!-- <footer class="bg-gray-800 text-white py-4 mt-6">
	<div class="max-w-6xl mx-auto px-4 text-center">
		<p>© 2024 Forældrestatistik. Alle rettigheder forbeholdes.</p>
		<p><Link href="/privatlivspolitik" class="hover:underline">Privatlivspolitik</Link> | <Link href="/brugsbetingelser" class="hover:underline">Brugsbetingelser</Link></p>
	</div>
</footer> -->