---
import Link from "./Link.astro"
---
<!-- <header class="bg-blue-500 text-white py-4">
	<div class="max-w-6xl mx-auto px-4 flex justify-between items-center">
		<h1 class="text-xl font-bold">Artikel om forældrestatistik</h1>
		<nav>
			<ul class="flex space-x-4">
				<li><Link href="/" class="hover:underline">Hjem</Link></li>
				<li><Link href="/artikler" class="hover:underline">Artikler</Link></li>
				<li><Link href="/om" class="hover:underline">Om os</Link></li>
				<li><Link href="/kontakt" class="hover:underline">Kontakt</Link></li>
			</ul>
		</nav>
	</div>
</header> -->
