---
import Link from "./Link.astro";
import logo from "../assets/images/logo-removebg.png";
import Image from "astro/components/Image.astro";
import harlekin from "../assets/images/harlekin.jpg";
---
<header class="py-4 mx-auto px-4 flex justify-center items-center ">
	<Image 
		src={logo} 
		alt="logo"  
		class="w-32 h-32 animate-fade-zoom" 
	/>
	
	<!-- Navigation button -->
	<nav class="absolute right-4 top-16 md:mr-10 z-10">
		<a href="https://fonts.google.com/specimen/Playfair+Display" target="_blank" class="font-playfair text-lg font-semibold bg-turkish text-kingblue hover:bg-kingblue hover:text-turkish transition-all duration-300 transform hover:scale-105 px-4 py-2 rounded-md md:ml-20 z-20">
			DOWNLOAD
		</a>
	</nav>

	<Image 
	src={harlekin} 
	class="col-start-1 col-span-5 row-start-1 row-span-5 z-0 w-[100%] h-full object-cover opacity-5 absolute top-0 left-0" 
	alt="harlekin baggrund" 
    />
</header>


  